<div id="cursos">
	<section class="content-header">
		<h1>
			Entrada del Blog
		</h1>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
					<!-- Title -->
					<h3>{{vm.entry.titulo}}</h3>
					<!-- Author -->
					<p>por  {{ vm.entry.userName }}</p>
					<!-- Date/Time -->
					<span><i class="fa fa-calendar"/> {{ vm.entry.fecha_creacion | date }}</span>
					<hr>
					<!-- Post Content -->
					<p class="lead">
						<dynamic id="contenido"></dynamic>
					</p>
					<hr>
					<!-- Comments Form -->
					<div class="card my-4">
						<h5 class="card-header">Deja un comentario:</h5>
						<div class="card-body">
							<form>
								<div class="form-group" style="margin-bottom:2px!important;">
									<input type="hidden" class="form-control"/>
									<textarea class="form-control" rows="3" ng-model="vm.parentComment" id="parentComment"></textarea>
								</div>
								<button type="submit" class="btn btn-primary" ng-click="vm.guardarComentario(vm.entry.id_publicacion,'0')">Enviar</button>
							</form>
						</div>
					</div>
					<div>
					<h3>Comentarios Recientes</h3>
					<dynamic  id="comments"></dynamic>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</section>
	<!-- /.content -->
</div>