<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">
    
    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#page-top">CONALPRE</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#page-top">Inicio</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#institucion">Institución</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#lecturaCritica">Lectura Crítica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#proyecto">Proyecto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#actividades">Actividades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#resultados">Resultados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contactenos">Contactenos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" style="color:#fff!important;">PROYECTO LECTURA CRITICA</h1>
                <hr>
                <p>Proyecto dirigido a tales y tales!</p>
                <a class="btn btn-primary btn-xl" href="#actividades">Actividades</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="institucion">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading text-white">Institución</h2>
                    <hr class="light">
                    <p class="text-faded">Son los datos de la institución</p>
                    <a class="btn btn-default btn-xl sr-button" href="#actividades">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="lecturaCritica">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading text-white">Lectura Critica</h2>
                    <hr class="light">
                    <p class="text-faded">Información lectura crítica</p>
                    <a class="btn btn-default btn-xl sr-button" href="#actividades">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="proyecto">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading text-white">Proyecto</h2>
                    <hr class="light">
                    <p class="text-faded">Información lectura crítica</p>
                    <a class="btn btn-default btn-xl sr-button" href="#actividades">Get Started!</a>
                </div>
            </div>
        </div>
    </section>


    <section id="actividades">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Actividades</h2>
                     <hr class="primary"> 
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <!-- <h2 class="section-heading">Instrucciones!</h2> -->
                    <p>En esta sección se encuentras las actividades a desarrollar por parte de las estudiantes</p>
                    <p>Para esto se requiere que la estudiante ingrese a la plataforma</p>
                    <p>y realice su registro.</p>
                </div>
                <div class="col-lg-8 offset-lg-2 text-center">
                    
                    <!-- <a class="btn btn-primary btn-xl sr-button" href="">Registro</a> -->
                    <a class="btn btn-primary btn-xl sr-button"  href="usuario.html">
                        Ir al Portal
                    </a>
                </div>
                
            </div>
             <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <!-- <h2 class="section-heading">Instrucciones!</h2> -->
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
                
            </div>
            
        </div>
    </section>

    <section class="no-padding" id="resultados">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contactenos">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 offset-lg-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Formularios Modales -->
    <!-- Modal -->
<div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <form name="estudianteForm" novalidate enctype="multipart/form-data">
                        <div class="form-group-sm"
                             ng-class="{'has-error':estudianteForm.inputfirstName.$invalid && estudianteForm.inputfirstName.$dirty}">
                            <label class="control-label" for="inputfirstName">Nombres</label>
                            <input class="form-control"
                                   id="inputfirstName"
                                   name="inputfirstName"
                                   type="text"
                                   placeholder="Nombres (requerido)"
                                   ng-model="vm.estudiante.firstName" required />
                        </div>

                        <div class="form-group-sm"
                             ng-class="{'has-error':estudianteForm.inputlastName.$invalid && estudianteForm.inputlastName.$dirty}">
                            <label class="control-label" for="inputlastName">Apellidos</label>
                            <input class="form-control"
                                   id="inputlastName"
                                   name="inputlastName"
                                   type="text"
                                   placeholder="Apellidos (requerido)"
                                   ng-model="vm.estudiante.lastName" required />
                        </div>


                        <div class="form-group-sm"
                             ng-class="{'has-error':estudianteForm.inputEmail.$invalid && estudianteForm.inputEmail.$dirty}">
                            <label class="control-label" for="inputEmail">Correo Electrónico</label>
                            <input class="form-control"
                                   id="inputEmail"
                                   name="inputEmail"
                                   type="text"
                                   placeholder="Correo (requerido)"
                                   ng-model="vm.estudiante.email" required />
                        </div>
                        <div class="form-group-sm"
                             ng-class="{'has-error':estudianteForm.inputCurso.$invalid && estudianteForm.inputCurso.$dirty}">
                            <label class="control-label" for="inputCurso">Curso</label>
                            <input class="form-control"
                                   id="inputCurso"
                                   name="inputCurso"
                                   type="text"
                                   placeholder="Curso"
                                   ng-model="vm.estudiante.curso" />
                        </div>
                        <div class="form-group-sm"
                                 ng-class="{'has-error':estudianteForm.inputblitzDate.$invalid &&
                                    estudianteForm.inputblitzDate.$dirty}">
                                <label class="control-label" for="inputblitzDate">Fecha Nacimiento</label>
                                <div class="input-group date" id="js-datetimepicker">
                                    <input class="form-control datetimepicker"
                                           id="inputblitzDate"
                                           name="inputblitzDate"
                                           type="text"
                                           placeholder="Fecha Nacimiento"
                                           ng-model="vm.estudiante.blitzDate" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        <div class="form-group-sm">
                            <button class="btn btn-danger"
                                    style="margin-right:10px;margin-top:10px;"
                                    ng-click="vm.submit()"
                                    ng-disabled="estudianteForm.$invalid">
                                Save
                            </button>
                        </div>

                        <div class="form-group"
                             ng-show="vm.message">
                            <div class="col-md-6">
                                <pre style="font: inherit">{{vm.message }}</pre>
                            </div>
                        </div>


                    </form>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ingresoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/tether/tether.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
    

    
</body>

</html>
